<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <service
            android:name=".service.NoticeService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".post.ui.dashboard.NoticeActivity" />
        <activity android:name=".post.ui.dashboard.PasswordChangeActivity" />
        <activity android:name=".post.ui.dashboard.EmailChangeActivity" />
        <activity android:name=".post.ui.dashboard.NNChangeActivity" />
        <activity android:name=".post.ui.dashboard.PPChangeActivity" />
        <activity android:name=".post.ui.dashboard.AccountManageActivity" />
        <activity android:name=".post.ui.post.ShowPostActivity" />
        <activity android:name=".post.ui.post.AddPostActivity" />
        <activity android:name=".post.ui.message.chat.ui.ChatActivity" /> <!-- 忘记密码 -->
        <activity android:name=".logIn.ui.ForgetPwdActivity" /> <!-- 注册 -->
        <activity android:name=".logIn.ui.RegisterActivity" /> <!-- 登录 -->
        <activity android:name=".logIn.ui.ResetPwdActivity" />
        <activity
            android:name=".logIn.ui.LogInActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 动态页面 -->
        <activity
            android:name=".post.PostActivity"
            android:label="@string/title_activity_post" /> <!-- 主页面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>